.nav-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: flex-start;    
}

.nav-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;    
    margin-bottom: 40px;
    font-size: 1.2rem;    
}

.nav-header > span{
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--white-cyan);
}

.nav-body {    
    background-color: var(--white-cyan);
    color: var(--green);
    border-radius: 0 0 20px 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    font-family: var(--font-family-sans-serif);
}

nav > ul {
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    align-items: flex-start;

    padding: 0;
}

nav > ul > li {
    list-style: none;
    text-decoration: none;

    padding: 20px;
    font-size: 1.2em;
}

nav > ul > li:hover {
    color: var(--blue);
    cursor: pointer;
}

.active {
    border-radius: 0 20px 20px 0;
    background-color: var(--green);
    color: var(--white-cyan);
    text-decoration: none;
}

.active:hover {
    color: var(--white-cyan);
}

.nav-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: var(--white-cyan);

    margin-left: 10px;
    margin-top: 20px;
    padding: 10px;

    transition: all 0.3s ease-in-out;
}

.nav-icon:hover{
    color: var(--green);
    cursor: pointer;
}

.nav-icon > span {
    font-size: 1rem;
    font-weight: 300;
    margin: 0 5px;
    color: var(--white-cyan);
}

.nav-icon>span:hover{
    color: var(--green);
    cursor: pointer;
}